---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Episodes</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Twitter Index
================================================== -->
<section class="recent-posts">

        <div class="section-title">
    
            <h2><span>From our listeners and Guests</span></h2>
    
        </div>
    
        <div class="row listrecent">
    
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Thank you for having us on Dave 👌👍 <a href="https://t.co/7M7aLTWKUf">https://t.co/7M7aLTWKUf</a></p>&mdash; Gregor Suttie - azureadventcalendar.com (@gregor_suttie) <a href="https://twitter.com/gregor_suttie/status/1199818136037609472?ref_src=twsrc%5Etfw">November 27, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Thank you for having us on Dave 👌👍 <a href="https://t.co/7M7aLTWKUf">https://t.co/7M7aLTWKUf</a></p>&mdash; Gregor Suttie - azureadventcalendar.com (@gregor_suttie) <a href="https://twitter.com/gregor_suttie/status/1199818136037609472?ref_src=twsrc%5Etfw">November 27, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    
    </section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

