<div class="podcast-suscribe">
    <!-- Post Date -->
    <p>
        <small>
            <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
            {% if page.last_modified_at %}
            (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
            {% endif %}
            </small>
        </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://podcasts.apple.com/us/podcast/wikiazure-podcast/id1487759283" style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: 10px 7px; height: 40px; width: 162px;">Listen on Apple Podcasts</a>

        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://open.spotify.com/show/0gyMCBEF4uPCKHnpVV2AGF" style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -182px 7px; height: 40px; width: 106px;">Listen on Spotify</a>

        </li>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://feeds.buzzsprout.com/704541.rss" style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -317px 7px; height: 40px; width: 121px;">RSS Feed</a>
        </li>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.stitcher.com/s?fid=483446&refid=stpr" style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -669px 7px; height: 40px; width: 106px;">Listen on Stitcher</a>
        </li>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://tunein.com/podcasts/Technology-Podcasts/WikiAzure-Podcast-p1273086/" style="display: block; background-color: #000000; background-image: url(https://podcast.wikiazure.com/assets/images/tunein.png); background-repeat: no-repeat; background-size: 86px 28px; border-radius: 5px; text-indent: -9000px; background-position: 8px 7px; height: 40px; width: 106px;">Listen on Tune In</a>
        </li>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.iheart.com/podcast/269-wikiazure-podcast-53196101/" style="display: block; background-color: #000000; background-image: url(https://podcast.wikiazure.com/assets/images/iheart.png); background-repeat: no-repeat; background-size: 86px 28px; border-radius: 5px; text-indent: -9000px; background-position: 8px 7px; height: 40px; width: 106px;">Listen on Tune In</a>
        </li>

        
    </ul>
    
    <div class="sep">
    </div>
    

</div>
